sweep
*.out

*.o
*~
*.mod

yyre*
gem_main

*.pro
*.txt

mxamp
plot*
flux
eqflux

mdhis
mdhisa
eqdat
xpp
stress
indicator
freq

dump/
matrix/
out/

*.ps

#only gem_equil.f90 and gem.in are to be changed for each test case
Makefile
*.h
gem_com.f90
gem_erf.f90
gem_fcnt.f90
gem_fft_wrapper.f90
gem_main.f90
gem_outd.f90
gem_pputil.f90
job

